.Header{
    height: 10vh;
    box-shadow: 0px 1px 10px -1px rgba(72, 84, 92, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header h1{
    color: rgb(20, 20, 20);
    transition: 0.15s;
}

.Header h1:hover{
    color: rgb(255, 0, 0);

}

.Header img{
    height: 50%;
    width: auto;
    margin-right: 1%;
}